.login-page {
    width: 100%;
    margin: 5rem auto;
}
.login-form {
    margin: 10px auto;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    display: block;
    width: 100%;
}

@media (min-width: 480px) {
    .login-page {
        width: 480px;
    }
}
