@media print {
    .ant-layout-sider,
    .ant-layout-header {
        display: none;
    }

    .ant-layout-content {
        margin: 0 !important;
        padding: 0 !important;
        padding-top: 25px !important;
    }
}
